body{
    font-family: "Sora", sans-serif;
    background: linear-gradient(90deg,#213F8C 50%, #1E3980 69.17%, #1B3373 100%);
    color:white;
}
.pagina{
    background-color: #0F315C;
    margin: -10px;
    margin-bottom: 0px;
    padding: 10px;
}
.relative{


}
.designer{
    border: 3px solid rgb(35, 35, 35);
    float: inline-start ;
    background-color: #FDB32F;
    padding: 5px;
}
.sdesigner{
    margin-left: 30px;
}
.seta_designer{
    margin: auto;
    position: absolute;
    top: 200px;
    right: 1050px;
}
.programador{
    border: 3px solid rgb(35, 35, 35);
    float: inline-start ;
    background-color: #19B100;
    padding: 5px;
    margin-left: 60px;
}
.sprogramador{
    margin-bottom: -30px;
}
.seta_programador{
    margin: auto;
    position: absolute;
    top: 450px;
    right: 330px;
}
h1{
    position: relative;
    width: 900px;
    color:#4CC8FF;
    text-align: center;
    margin: auto;
    margin-top: 200px;
    font-size: 50px;
}
.text_center{
    margin: auto;
    margin-top: 30px;
    text-align: center;
    width: 650px;
    margin-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
}
.button{
    padding: 5px;
    border: 1px solid #ffff;
    border-radius: 30px;
    margin: auto;
    width: 120px;
    text-align: center;
    margin-bottom: 100px;

}
.plug{
    height: 40px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0F315C;
    margin-top: -30px;
    margin-bottom: 50px;
    background-image: url(https://raw.githubusercontent.com/awescolar/aw-2024/master/background/img/vector.png), url(https://raw.githubusercontent.com/awescolar/aw-2024/master/background/img/vector-2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center left, center right;
  }
  
section hr{
    margin-top: 23px;
    border: 2px solid white;
  }
footer{
    margin: auto -8px;
    border-top: 4px solid #FDB32F;
}
.rigth{
    font-size: 30px;
    margin: 100px;
    width: 500px;
    margin-bottom: 100px;
}

span{
    color:#FDB32F;
}
.lighter{
    font-weight: lighter;
}
.contatos{
    font-size: 20px;
    margin-left: 100px;
}
.contato{
    float: left;
    width: 400px;
    height: 200px;
}
.imagens{
    margin-left: 100px;

}